streamlit
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
langdetect
requests
faster-whisper
openai-whisper
torch
pyttsx3
pypdf
fastapi
uvicorn
python-multipart
deep-translator
